/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital@0;1&family=Rowdies:wght@300&display=swap');

/* GLOBAL STYLES */
:root {
  --font-primary: 'Anton', sans-serif;
  --font-secondary: 'Rowdies', serif;
  --font-terceary: 'Josefin Sans', sans-serif;
  --font-code: 'Roboto', sans-serif;
  --bg-color: #e6e3d6;
  --font-color: #000000;
  --btn-bg-color: #ffffff;
  --accent-color: #cccabf;
  --header-shadow: #000 0px 0px 5px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: var(--btn-bg-color);
  color: rgb(0, 0, 0);
  font-style: italic;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}


/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}

/* Information */

.information {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #cccabf;
}

.information p {
  padding: 1rem 1rem;
  font-family: var(--font-primary)


}

.information h1 {

  padding: 1rem 1rem;
  font-family: var(--font-secondary)
}

.information h5 {
  padding: 1rem 1rem;
  font-family: var(--font-terceary);
  font-size: medium;
  color: rgb(24, 24, 24);
  
}
.informationimg {

  text-align: center;
  flex-direction: column;
  
}

/* Mint Section */

.mint {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

.minttext {

  text-align: center;
  flex-direction: column;
  padding: 2rem 16rem;
  font-family: var(--font-primary)
}

/* Road Map */

.roadmap {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 4rem 4rem;
  text-align: center;
  font-family: var(--font-secondary)
}

.roadmap p {
  padding: 1rem 1rem;
  text-align: center;
  font-family: var(--font-secondary)
}

.roadmap img{
  text-align: center ;
}

.roadmap h1{
  padding: 0.5rem 1rem 3rem 1rem;
  font-size: 40px;
  font-family: var(--font-primary)
}

.roadmap h2{
  padding: 1rem 1rem;
  text-align: center;
  font-family: var(--font-secondary);
}

 /* Team */

 .team {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
  font-family: var(--font-primary);
 }

 .teamtable img {
   padding: 30px;
   border-radius: 50%;
   width: 200px;
   height: 200px;
   
 }

 .teamtable table{
   text-align: center;
   margin: 0px auto;
   font-family: var(--font-secondary);
 }

 .teamtable th {
   text-align: center;
   margin: 0px auto;
 }

 /* Botton Text */

 .bottontext p{
   padding: 6rem 10rem 0rem 10rem;
   text-align: center;
    font-family: var(--font-secondary)
}

.contact p{
  text-align: center;
  font-family: var(--font-terceary)
}

/* Columnas */ 
